<!DOCTYPE html>
{% extends 'testapp/base.html' %}
{% block title %}
{{paint.Item_Name}}
{% endblock %}
{% block content %}
<div class="container">
    <div class="jumbotron">
        <img src="{{paint.Item_Image.url}}" alt=""><br>
        <p style="border-left: 4px solid red;padding-left: 2px;"><b>{{paint.company|title}}</b></p>
        <h1>{{paint.Item_Name}}</h1>
        <p>{{paint.volume}}</p>
        <p>&#8377<b>{{paint.Offered_Price}}</b>, &#8377<span style="text-decoration: line-through;color: red;">{{paint.Price}}</span>, <span> <b>{{paint.Offer}}% off</b></span> </p>
        <p>{{paint.Description|linebreaks}}</p>
        <a href="tel:+918999245766" class="btn btn-outline-success btn-sm">Contact Owner</a><br><br>
        <a href="/paints"><button class="btn btn-outline-secondary"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
          </svg> Home</button></a><br><br>
        <h3>{{paint.updated|date:"Y-m-d"}}</h3>  
    </div>
</div>
{% endblock %}